<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AppSecurityStrategy" value="ClaimsSecurity" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ida:FederationMetadataLocation" value="https://cod494l25702.illinois.gov/IdSrv/FederationMetadata/2007-06/FederationMetadata.xml"   xdt:Transform="Insert"/>
    <add key="ida:Issuer" value="https://cod494l25702.illinois.gov/IdSrv/issue/wsfed"   xdt:Transform="Insert"/>
    <add key="ida:ProviderSelection" value="productionSTS"  xdt:Transform="Insert" />
  </appSettings>

  <location path="FederationMetadata" xdt:Transform="Insert">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.web>

    <authorization xdt:Transform="Insert">
      <deny users="?" />
    </authorization>

    <authentication mode="None" xdt:Transform="SetAttributes"/>
    
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"  xdt:Transform="Insert"/>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"  xdt:Transform="Insert"/>
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"  xdt:Transform="Insert"/>
    </modules>
  </system.webServer>

  <system.identityModel xdt:Transform="Insert">
    <identityConfiguration>
      <audienceUris>
        <add value="http://localhost:33819/" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="http://Identity.IDOT.illinois.gov/trust/">
          <keys>
            <add thumbprint="B27E98BB320D67F7ABE14DA07693E2D567CCFE20" />
          </keys>
          <validIssuers>
            <add name="http://Identity.IDOT.illinois.gov/trust/" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None" />
      <claimsAuthorizationManager type="Rhml.Mms.Web.Infrastructure.AuthorizationManager, Rhml.Mms.Web.Infrastructure" />
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services xdt:Transform="Insert">
    <federationConfiguration>
      <cookieHandler requireSsl="false" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://cod494l25702.illinois.gov/IdSrv/issue/wsfed" realm="http://localhost:33819/" requireHttps="false" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>